<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="meetansi_extension_post_listing_data_source" xsi:type="string">Meetanshi\Extension\Model\ResourceModel\Extension\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Meetanshi\Extension\Model\ResourceModel\Extension\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">extension</argument>
            <argument name="resourceModel" xsi:type="string">Meetanshi\Extension\Model\ResourceModel\Extension</argument>
        </arguments>
    </virtualType>
</config>
